<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-segment [value]="tipoDeChartSeleccionado" [(ngModel)]="tipoDeChartSeleccionado"> (ionChange)="segmentChanged($event)">
        <ion-segment-button value="bar-chart">
          Bar Chart
        </ion-segment-button>
        <ion-segment-button value="line-chart">
          Line Chart
        </ion-segment-button>
        <ion-segment-button value="pie-chart">
          Pie Chart
        </ion-segment-button>
      </ion-segment>
    
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true">
    <app-bar-chart  *ngIf="tipoDeChartSeleccionado === 'bar-chart'" [tipoChartSelected]="tipoDeChartSeleccionado" [borderColorCategorias]="borderColorCat" [backgroundColorCategorias]="backgroundColorCat"></app-bar-chart>
    <!--En el segmento "Line-Chart" mostraremos únicamente su correspondiente gráfica-->
    <app-line-chart *ngIf="tipoDeChartSeleccionado === 'line-chart' || tipoDeChartSeleccionado === 'bar-chart'"></app-line-chart>
    <!--En el segmento "Pie-Chart" mostraremos únicamente su correspondiente gráfica-->
    <app-pie-chart *ngIf="tipoDeChartSeleccionado === 'pie-chart'|| tipoDeChartSeleccionado === 'bar-chart'"></app-pie-chart>
  </ion-content>
</ion-content>
